---
title: Thursday 
date: "2023-19-01"
---

Thursday 19-01-23

Idag har jag ändrat background på bl a workers och bloggen. Sedan har jag fixat liten koden så att själva kakorna blir rätt.
att det blir dyrare när jag köper och at spelet inte går för snabbt. 