---
title: Thursday noon 
date: "2023-12-01"
---

thursday noon 12-01-23

jag har bytt färg på workers och doublers, även bakgrunden bakom kakan och där arbetarna visas. jag har också bytt färg på head rulern till mörkblå. 

När jag inte har nog med kakor så alertar den mig och säger “im the biggest bird” för det är bra.

Jag har också ändrat antal kakor som workers och duoblers kostar. men spelet är buggigt oc jag kan köpa hur mpnga som helst. 
